body {
    background-image: url("./resources/grb.png");
    font-family: "Marker Felt" !important;
}

.resource {
    height: 600px;
    background-color: white;
    margin: 25px;
    font-family: Helvetica;
}

.baby-resource {
    background-color: white;
    font-family: Helvetica;
    margin: 30px;
}

.page-header {
    margin: 0 !important;
    background-color: white;
    padding: 9px !important;
}

.row2 {
    height: 460px;
}

.resource:hover, .baby-resource:hover {
    background-color: #fa7c7f;
}

.clickable {
    color: #000000 !important;
    padding: 5px;
}

.clickable:hover {
    text-decoration: none !important;
    color: white !important;
}

.clickable:hover a:visited {
    text-decoration: none !important;
}

.category {
    font-size: 2em;
}

.title {
    font-size: 1.5em;
}

.ratings {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.icons {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.glyphicon {
    padding: 5px;
}

h4, h1, h2 {
    text-align: center;
}

h5 {
    margin-top: 5px !important;
    font-weight: 900 !important;
}

.image img {
    height: 40px;
}

.image {
    display: flex;
    justify-content: center;
}

.enabled {
    color: green;
}

.disabled {
    color: grey;
}