body {
    background-image: url("./resources/grb.png");
    font-family: Helvetica, Arial !important;
    font-size: 2em !important;
}

@media screen and (max-width: 800px) {
    .resource-header {
        flex-direction: column;
    }
    .image img {
        width: 20vh;
        height: auto !important;
    }
    .image {
        align-self: center;
    }
    .footer {
        font-size: 2vh;
    }
    #navbar1 {
        display: none;
    }
    .info {
        padding: 0 !important;
    }
    .feature {
        font-size: 2vh;
    }
}

.row {
    margin-left: 1vh !important;
    margin-right: 1vh !important;
}

.navbar-nav>li>.active,
.navbar-nav>li>a:hover,
.clickable,
.footer>a {
    color: #d44339 !important;
}

.resource {
    background-color: white;
    border-radius: 5px;
    margin: 25px;
    height: fit-content;
    padding: 20px;
}

.container {
    margin-bottom: 6vh;
}

.navbar {
    background-color: white !important;
}

.navbar-brand {
    font-size: 3vh !important;
    color: black !important;
}

.navbar-nav>li>a {
    color: black !important;
}

.features {
    margin-top: 1vh;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: fit-content;
    padding: .5vh;
}

.feature {
    font-size: 1.7rem;
    padding: .5vh;
}

.clickable:hover {
    text-decoration: none !important;
    color: black !important;
}

.clickable:hover a:visited {
    text-decoration: none !important;
}

.ratings {
    display: flex;
    justify-content: center;
}

.icons {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.glyphicon {
    padding: 5px;
}

.procon {
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
}

.image {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image img {
    height: 10vh;
    border-radius: 10px;
}

.enabled {
    color: green;
}

.disabled {
    color: grey;
}

.resource-header {
    display: flex;
}

.resource-name {
    text-align: center;
    margin: 1vh;
}

.description {
    text-align: center;
    padding: 20px;
}

.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: white;
    flex-direction: column;
    margin-top: 10vh;
    padding: 5vh;
    display: flex;
    border-radius: 5px;
    align-items: center;
}

.page-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer {
    background-color: white;
    width: 100%;
    height: 5vh;
    text-align: right;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}